body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: beige;
    background-image: url("../images/vann.jpg");
    height: 100vh;
}
.regform {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 630px;
    margin-top: 10px;
    margin-bottom: 30px;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 40px;
}
.regform form {
    padding: 20px;
    box-sizing: border-box;
}
.regform h1{
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    color: navy;
}
.Klubb{
    height: 20px;
    width: 120px;
    font-size: 16px;
}
.fornavn{
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin-top: 8px;
}
.etternavn{
    height: 20px;
    width: 180px;
    font-size: 16px;
    margin-left: 5px;
}
.År{
    height: 20px;
    width: 80px;
    font-size: 16px;
}
.Uke{
    height: 20px;
    width: 80px;
    font-size: 16px;
}
.Klasse{
    height: 20px;
    width: 90px;
    font-size: 16px;
}
.regform h2{
    font-size: 16px;
    color: navy;
}
.regform h3{
    font-size: 16px;
    text-align: center;
    color: navy;
}
.femTid{
    position: relative;
    left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.femWatt{
    position: relative;
    margin-left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.femtusenlabel{
    position: relative;
    left: 70px;
}
.tretusen{
    margin-top: 3px;
}
.treTid{
    position: relative;
    left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.treWatt{
    position: relative;
    margin-left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.tretusenlabel{
    position: relative;
    left: 70px;
}
.tretusenløp{
    margin-top: 3px;
}
.treløpTid{
    position: relative;
    left: 153px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.tretusenløplabel{
    position: relative;
    left: 70px;
}
.totusen{
    margin-top: 3px;
}
.toTid{
    position: relative;
    left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.toWatt{
    position: relative;
    margin-left: 180px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.totusenlabel{
    position: relative;
    left: 70px;
}
.seksti{
    margin-top: 3px;
}
.sekstiWatt{
    position: relative;
    left: 192px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.sekstiwattlabel{
    position: relative;
    left: 70px;
}
.liggro{
    margin-top: 3px;
}
.liggroKilo{
    position: relative;
    left: 110px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.liggroProsent{
    position: relative;
    margin-left: 110px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.liggrolabel{
    position: relative;
    left: 70px;
}
.knebøy{
    margin-top: 3px;
}
.knebøyKilo{
    position: relative;
    left: 161px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.knebøyProsent{
    position: relative;
    margin-left: 161px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.knebøyKilolabel{
    position: relative;
    left: 70px;
}
.bevegelighetantall{
    margin-top: 3px;
}
.bevegelighet{
    position: relative;
    left: 124px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.bevegelighetlabel{
    position: relative;
    left: 70px;
}
.sargeantcm{
    margin-top: 3px;
}
.sargeant{
    position: relative;
    left: 151px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.sargeantlabel{
    position: relative;
    left: 70px;
}
.kroppshevantall{
    margin-top: 3px;
}
.kroppshev{
    position: relative;
    left: 140px;
    height: 20px;
    width: 80px;
    font-size: 15px;
}
.kroppshevlabel{
    position: relative;
    left: 70px;
}
.LeggInnFlere{
    position: absolute;
    left: 190px;
    width: 25%;
    margin-top: 15px;
    height: 27px;
    border: 1px solid;
    background: navy;
    border-radius: 25px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.SendInn{
    position: absolute;
    left: 190px;
    width: 25%;
    margin-top: 25px;
    height: 27px;
    border: 1px solid;
    background: green;
    border-radius: 25px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
